/* app/components/CodeBlock.module.css */

.codeBlockWrapper {
  border: 2px solid var(--border-color);
  margin: 2rem 0;
  font-family: var(--mono) !important;
}

.codeBlockHeader {
  background-color: var(--border-color);
  color: var(--bg);
  padding: 0.5rem 1rem;
  font-family: var(--mono);
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* Custom scrollbar for the code block */
.codeBlockWrapper pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.codeBlockWrapper pre::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.codeBlockWrapper pre::-webkit-scrollbar-thumb {
  background: var(--accent);
  border: 2px solid #1e1e1e;
}

.codeBlockWrapper pre::-webkit-scrollbar-thumb:hover {
  background: var(--code-green);
}
